<mat-toolbar color="primary">
  <span><img src="/assets/images/logo.png" height=70 width=140></span>
  <a mat-button ><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button ><span class="fa fa-info fa-lg"></span> About me</a>
  <a mat-button ><span class="fa fa-list fa-lg"></span> Skills</a>
  <a mat-button ><span class="fa fa-address-card fa-lg"></span> Contact</a>
</mat-toolbar>


