<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

    <div>
      <p>© Copyright 2019 Baris Kabacaoglu</p>
  </div>
</div>