<div fxFlex fxFlexOffset="20px" class="form-size" >
    <h3>Contact Me</h3>
    
  <form novalidate [formGroup]="contactForm" #fform="ngForm" (ngSubmit)="onSubmit()" >
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
          <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
          <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="email" placeholder="Email" type="email" email required>
          <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width">
          <textarea matInput formControlName="message" placeholder="Your Message" rows=12></textarea>
        </mat-form-field>
      </p>
      <button type="submit" mat-button [disabled]="contactForm.invalid" class="background-light">Submit</button>
    </form>
  </div>