.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}


$background-light: #5C6BC0;

.background-light{
    background-color: $background-light;
    color:white;
}