<div class="container">
    <div fxFlex>
        <h2>My Skills</h2>
          <mat-grid-list *ngIf="skills" cols="3" rowHeight="200" >
            <mat-grid-tile *ngFor="let skill of skills">
                <span matListAvatar class="fa {{ skill.icon }} fa-lg skill-icon"></span>
              <div>
                  <h1>{{skill.header}} </h1>
                  <p><span> {{skill.body}} </span></p> 
              </div>
            </mat-grid-tile >
          </mat-grid-list>
      </div>
      
      <div [hidden]="skills || errMess">
        <mat-spinner></mat-spinner>
        <h4>Loading . . . Please Wait</h4>
      </div>
      
      <div fxFlex *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess }}</h4>
      </div>
</div>
