/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

body { 
    padding: 0; 
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif; 
    
  }

  .container {
    margin: 20px;
    display:flex;
}
