<div class="container jumbotron">
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/images/profile.jpg" width="90%" alt="me">
  </div>
  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Welcome</h1>
    <p>Hello Welcome to my page im happy that you found here.</p>

    <p>This is my first angular home page and i want to show you here a few skills 
      I learned while taking the course "Front-End JavaScript Frameworks Overview: Angular" at coursera</p>
  </div>
</div>